.login {
    width: 100%;
    height: 100vh;
    position: relative;
    display: none;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url('../Images/signBg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -2;
    }

    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #FF6767;
        opacity: .8;
        z-index: -1;
    }

    > span {
        width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            width: 1240px;
            margin: 0 80px 0;
            min-height: 670px;
            background-color: #fff;
            border-radius: 10px;
            z-index: 5;
            box-shadow: 0 10px 40px rgba(0,0,0,0.3);
            display: flex;

            > div {
                display: flex;

                &.r {
                    width: 50%;
                    background-image: url('../Images/left.png');
                    background-repeat: no-repeat;
                    background-position: right bottom;
                }

                &.l {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    max-width: 50%;
                    padding: 40px 50px;
                    flex: 1;
                    > div {
                        
                        display: flex;
                        flex-direction: column;

                        h1 {
                            font-size: 36px;
                            margin-bottom: 20px;
                            font-weight: 700;
                        }

                        .inputValue {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-bottom: 15px;
                            transition: all .3s;
                            
                            > div {
                                display: flex;
                                gap: 15px;
                                border: 1px solid #c8c8c8;
                                border-radius: 10px;
                                align-items: center;
                                max-width: 100%;
                                height: 60px;
                                padding: 0 20px;

                                &:hover {
                                    border-color: #000;
                                }

                                &:focus-within {
                                    border-color: #000;
                                }

                                img {
                                    width: 24px;
                                    height: 24px;
                                }

                                input {
                                    width: 100%;
                                    border: none;
                                    outline: none;
                                    font-size: 16px;
                                    font-family: 'Montserrat', sans-serif;
                                }
                            }

                            label {
                                color: red;
                                font-size: 14px;
                                mask-type: 3px;
                            }
                        }

                        .terms {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            margin-top: 10px;
                            font-size: 16px;

                            input {
                                width: 20px;
                                height: 20px;
                            }

                            span {
                                width: auto;
                                color: black;
                            }
                        }
                        > label {
                            color: red;
                            font-size: 14px;
                            margin-top: 3px;
                        }

                        button {
                            margin-top: 15px;
                            max-height: 60px;
                            font-size: 17px;
                            font-weight: 500;
                            color: #F8F9FB;
                            border-radius: 5px;
                            background-color: #FF9090;
                            padding: 20px 30px;
                            border: none;
                            width: 150px;
                            flex: 1;
                        }

                        .regMenu {
                            margin-top: 15px;
                            font-size: 16px;
                            font-weight: 500;
                            display: flex;
                            gap: 10px;
                            justify-content: start;
                        }
                    }

                    .appLogin {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        > div {
                            display: flex;
                            align-items: center;
                            gap: 15px;

                            > span {
                                display: flex;
                                gap: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}