.register {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url('../Images/signBg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -2;
    }

    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #FF6767;
        opacity: .8;
        z-index: -1;
    }

    > span {
        width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            width: 1240px;
            margin: 0 80px 0;
            max-height: 670px;
            background-color: #fff;
            border-radius: 10px;
            z-index: 5;
            box-shadow: 0 10px 40px rgba(0,0,0,0.3);
            display: flex;

            > div {
                display: flex;

                &.l {
                    width: 50%;
                    background-image: url('../Images/right.png');
                    background-repeat: no-repeat;
                    background-position: left bottom;
                }

                &.r {
                    max-width: 50%;
                    padding: 20px 50px;
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    h1 {
                        font-size: 34px;
                        margin-bottom: 0px;
                        font-weight: 700;
                    }

                    .input-block {
                        margin-top: 10px;
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        > div {
                            max-width: 100%;
                            height: 45px;
                            border: 1px solid #c8c8c8;
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            padding: 0 20px;
                            gap: 15px;
                            transition: all .3s;

                            &:hover {
                                border-color: #000;
                            }

                            &:focus-within {
                                border-color: #000;
                            }

                            img {
                                width: 24px;
                                height: 24px;
                            }

                            input {
                                width: 100%;
                                border: none;
                                outline: none;
                                font-size: 16px;
                                font-family: 'Montserrat', sans-serif;
                                display: block;
                            }
                        }
                        label {
                            display: block;
                            font-size: 14px;
                            color: red;
                            margin-top: 2px;
                        }
                    }

                    .terms {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        margin-top: 7px;
                        font-size: 16px;

                        input {
                            width: 20px;
                            height: 20px;
                        }

                        span {
                            width: auto;
                        }
                    }
                    #agreeNotif {
                        display: block;
                        font-size: 14px;
                        color: red;
                        margin-top: 2px;
                    }

                    button {
                        margin-top: 10px;
                        font-size: 17px;
                        font-weight: 500;
                        color: #F8F9FB;
                        border-radius: 5px;
                        background-color: #FF9090;
                        padding: 10px 30px;
                        border: none;
                        width: 150px;
                        flex: 1;
                    }

                    .switch-login {
                        margin-top: 15px;
                        font-size: 16px;
                        font-weight: 500;
                        display: flex;
                        gap: 10px;
                        justify-content: start;
                    }
                }
            }
        }
    }
}