* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

button {
    cursor: pointer;
}

@import './reg.scss';
@import './login.scss';
@import './header.scss';
@import './sidNav.scss';
@import './heroSection.scss';
@import './taskMenu.scss';
@import './vitalTask.scss';
@import './myTask.scss';
@import './categories.scss';

.container {
    width: 100%;
    height: 100vh;
    flex-direction: column;

    > header {
        padding: 37px 72px 24px;
        background-color: #F8F8F8;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);
        height: 50px;
        margin-bottom: 50px;
    }

    main {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
}