* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

@import './reg.scss';
@import './login.scss';
@import './header.scss';
@import './sidNav.scss';
@import './heroSection.scss';
@import './taskMenu.scss';
@import './vitalTask.scss';
@import './myTask.scss';
@import './categories.scss';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    >header {
        padding: 37px 72px 24px;
        background-color: #F8F8F8;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);
        height: 100px;
    }

    main {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex: 1; 
        overflow: hidden; 
        height: auto; 
    }
}